<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arfiz.convertit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoconvertit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoconvertit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CurrencyActivity"
            android:label="Currency Converter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeightActivity"
            android:label="Weight Converter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaunchActivity"
            android:label="CONVERTIt"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TemperatureActivity"
            android:label="Temperature Converter"
            android:screenOrientation="portrait"/>
        <activity android:name=".LengthActivity"
            android:label="Length Converter"
            android:screenOrientation="portrait" ></activity>
    </application>

</manifest>